{% extends "base.html" %}
{% block title %}Ejemplo 6 - Suma{% endblock %}
{% block content %}
<div class="posts">
    <h1 class="content-subhead">Flask</h1>

    <!-- A single blog post -->
    <section class="post">
        <header class="post-header">
            

            <h2 class="post-title">Página Principal</h2>

            <p class="post-meta">
                By <a href="#" class="post-author">José Domingo</a> under <a class="post-category post-category-design" href="#">Python</a> <a class="post-category post-category-pure" href="#">Flask</a>
            </p>
        </header>

        <div class="post-description">
            <h2>Suma</h2>
            {% if resultado>0 %}
                <p>El resultado es positivo</p>
            {%else%}
                <p>El resultado es negativo</p>
            {% endif %}
            <h3>{{num1}} + {{num2}} = {{resultado}}</h3>
        </div>
    </section>
</div>
{% endblock %}