<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo 5</title>
</head>
<body>
	<h1>Mostramos la segunda fruta</h1>
	<p>{{lista[1]}}</p>
	<h1>Frutas</h1>
	<ul>
		{# Empezamos un bucle #}
		{% for elem in lista -%}
			<li>{{elem}}</li>
		{% endfor -%}
	</ul>
	<p>Lista con índice</p>
	<ul>
		{% for elem in lista -%}
			<li>{{loop.index}} - {{ elem }}</li>
		{% endfor -%}
	</ul>
	<p>Podemos saber si estamos en la primera iteración o en la última</p>
	<p>Ademas podemos saber cuantas iteraciones se van dar:</p>
	<ul>
		{% for elem in lista -%}
			{% if  loop.first -%}
				<li><strong>{{loop.index}}/{{loop.length}} - {{ elem }}</strong></li>
			{% else -%}
				<li>{{loop.index}}/{{loop.length}} - {{ elem }}</li>
			{% endif -%}
		{% endfor -%}
	</ul>
</body>
</html>
