{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>
    {% if error %}
        <p><strong>Error en la contraseña!!!</strong></p>
    {% endif %}
    <form action="/entrar" method="post">
        <label>Usuario:</label>
        <input type="text" name="usuario" value="{{usuario|e}}" required/>
        <label>Contraseña:</label>
        <input type="password" name="pass" required/>
        
        <select name="sistema">
            {% for dato in datos %}
                {% if seleccionado==dato.valor %}
                    <option selected value="{{dato.valor}}">{{dato.texto}}</option>
                {% else %}
                    <option value="{{dato.valor}}">{{dato.texto}}</option>
                {% endif %}
            {% endfor %}
        </select> 
        <br/>
        <input type="submit" value="Enviar"/>
    </form>
    {% endblock %}